<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>table</string>
	<string>rc4</string>
	<string>rc4-md5</string>
	<string>salsa20</string>
	<string>chacha20</string>
	<string>chacha20-ief</string>
	<string>aes-256-cfb</string>
	<string>aes-192-cfb</string>
	<string>aes-128-cfb</string>
	<string>bf-cfb</string>
	<string>camellia-128-cfb</string>
	<string>camellia-192-cfb</string>
	<string>camellia-256-cfb</string>
	<string>cast5-cfb</string>
	<string>des-cfb</string>
	<string>idea-cfb</string>
	<string>rc2-cfb</string>
	<string>seed-cfb</string>
</array>
</plist>
